<div class="form-group">
    <h3 class="bg-secondary p-2 mt-2">Event Binding</h3>
    <label for=" search product " class="text-warning bg-primary p-2 m-2 ">serarch product</label>
    <input type="text " class="form-control " (keyup)="onProductSearch($event) ">
</div>
<p class="alert alert-info ">
    {{searchProduct}}
</p>
<div class="form-group ">
    <h3 class="bg-secondary p-2">Two way Binding</h3>
    <label for="search new product " class="text-warning bg-danger p-2 m-2 ">serarch new product</label>
    <input type="text " class="form-control " [(ngModel)]="newsearchProduct ">
</div>
<div class="alert alert-info ">
    {{newsearchProduct}}
</div>
<h3 class="bg-secondary p-2">Task</h3>
<button class="btn btn-primary m-4 " [disabled]="isDisable " (click)="updateCartStatus() ">Add Product</button>
<button class="btn btn-primary m-4 " [disabled]="noofProductsAdded===0 " (click)="removeCartStatus() ">
    Remove product</button>
<p class="alert alert-info m-2 ">
    {{cartProductStatus}}
</p>
<div>
    <h3 class="text-center text-white bg-success p-2">Box Hide and Show Task</h3>
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary" (click)="hideShowBox()">{{ isBoxVisible ? 'Hide Box' : 'Show Box' }}</button>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <div class="box" *ngIf="isBoxVisible">
            <h2 class="text-warning text-center p-4">Hello I Love Angular</h2>
        </div>
    </div>
</div>